.Script {
    display: flex;
    flex-direction: column;
  }
.Script  .header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    height: 100vh;
}

.Script .header .title{
    display: flex;
    height: 70vmin;
    width: 70vmin;
    z-index: 2;
    border-radius: 40vmin;
    background-color: rgb(0, 133, 133);
    align-items: center; 
    justify-content: center; 
}

.Script .header .title h1{
    color:white;
    font-size: larger;

}

.Script .body{
    padding:20px;
}

.Script .body .description{
    text-align: justify;
}
.Script .footer{
height: max-content;
padding: 10px;
border:#555 0.2px;
border-style: solid none none none;
text-align: center;
}
.Script .footer a{
    text-decoration: none;
    }

/* Animations*/
/* 





*/
.Script .header div:nth-child(1){
    height: 70vmin;
    width: 70vmin;
    position: absolute;
    border-radius: 40vmin;
    background:rgb(0, 133, 133,0.40);
    z-index: 1;
    animation: box-back 4s infinite linear;
}
.Script .header div:nth-child(2){
    height: 70vmin;
    width: 70vmin;
    position: absolute;
    border-radius: 40vmin;
    background:rgb(0, 133, 133,0.40);
    z-index: 1;
    animation: box-back 4s 1s infinite linear;
}
.Script .header div:nth-child(3){
    height: 70vmin;
    width: 70vmin;
    position: absolute;
    border-radius: 40vmin;
    background:rgb(0, 133, 133,0.40);
    z-index: 1;
    animation: box-back 4s 2s infinite alternate-reverse;
}
.Script .header div:nth-child(4){
    height: 70vmin;
    width: 70vmin;
    position: absolute;
    border-radius: 40vmin;
    background:rgb(0, 133, 133,0.40);
    z-index: 1;
    animation: box-back 4s 3s infinite alternate;
}
@keyframes box-back{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(1.3);
    }

}
/* 





*/